<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.team.GaVolCar.mapper.BoardsMapper">
	
	<select id="getBoardsList" resultType="project.team.GaVolCar.vo.BoardsVO">
		<![CDATA[
			select * from boards order by b_no
		]]>
	</select>
	
	<select id="getBoardsCommentsList" resultType="project.team.GaVolCar.vo.BoardsVO">
		<![CDATA[
			select * from boards where b_code = 2 order by b_no
		]]>
	</select>
	
   <select id="getAlertListForMain" resultType="project.team.GaVolCar.vo.BoardsVO">
		<![CDATA[
			select ROWNUM,A.* from(select * from boards where b_code = 3 order by b_no desc) A where ROWNUM <= 6
		]]>
	</select>
   
   

</mapper>